.root {
    padding: 66px 110px;
    height: 850px;
}

.progressLine_line {
    width: 680px;
    height: 8px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: relative;
    margin-bottom: 103px;
}

.dot_wrapper {
    margin: 0 auto;
    width: 680px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
}

.dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #A6A6A6;

    &:first-child {
        background: white;
        border: 6px solid #5558FA;
    }
}

.numbers:first-child {
    color: #5558FA;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.number_wrapper {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    width: 680px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    color: #666666;
}

.field_wrapper {
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 20px;

    div {
        font-weight: 400;
        margin-bottom: 8px;
    }

    input {
        padding: 12px;
        width: 300px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.16);
    }
}

.dropdown_wrapper {
    font-size: 14px;
    line-height: 20px;
    .subtitle{
        font-weight: 400px;
        margin-bottom: 8px;
    }
}

.button_wrapper{
    display: flex;
    justify-content: space-between;
}