.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 88px;

    button {
        padding: 12px;
        width: 300px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        appearance: none;
        background: transparent;
        cursor: pointer;
        pointer-events: auto;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        background-color: white;
        width: 100%;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        z-index: 1;

        &_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // height: 80px;
            div {
                display: flex;
                align-items: center;
                height: 40px;
                color: black;
                cursor: pointer;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                span{
                    gap: 2px;
                    margin-left: 12px;
                }
                &:hover {
                    background-color: rgba(231, 226, 226, 0.48);
                }
            }
        }

    }
    .dropdown_content_active {
        display: block;
    }


    &::after {
        content: url('./Vector.svg');
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }
}