.root{
    padding: 24px;
}

.header {
    margin-bottom: 24px;
    display: flex;

    .avatar {
        margin-right: 24px;
    }

    .header_label {
        margin-top: 14px;
    }
}

.contacts {
    margin-top: 8px;

    ul {
        display: flex;
        list-style-type: none;

        li {
            margin-right: 16px;

            a {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #5558FA;
                text-decoration: none;
                margin-left: 4px;
            }
        }
    }
}

.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

hr {
    opacity: 0.3;
}

.main {
    margin-top: 24px;
}

.input_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    input {
        background: rgba(0, 0, 0, 0.04);
        padding: 12px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        width: 400px;
        height: 45px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.48);
    }:focus {
        background: white;
    }
}
.input_wrapper {
    margin-bottom: 48px;
}